<p id="notice"><%= notice %></p>

<h2 class="text-center text-info">
  <strong><%= @adsense.title %></strong>
</h2>
<h4 class="text-center text-black-50">Em <%= @adsense.category.description %></h4><br>
<h3 class="text-center text-secondary">
  <%= @adsense.description %>
</h3><br>

<div class="row">
  <div class="col-md-6">
    <p class="text-center text-danger font-weight-bold" style="font-size: 3em">Valor: R<%= number_to_currency @adsense.price %></p>
    <% unless @adsense.view.nil? %>
      <p class="text-center">Este anúncio já foi visualizado <%= @adsense.view+1 %> vezes. </p>
    <% end %>
    <p class="font-weight-bold">Dados do vendedor: </p>
    <p class="font-weight-bold"><small>Nome: </small> <%= @vendedor.name %></p>
    <p class="font-weight-bold"><small>E-mail: </small> <%= @vendedor.email %></p>
    <p class="font-weight-bold"><small>Endereço: </small> <%= @vendedor.address%>, <%= @vendedor.number %></p>
    <p class="font-weight-bold"><small>Cidade: </small> <%= @vendedor.city %>/<%= @vendedor.estate %> <small>CEP: </small> <%= @vendedor.cep %></p>
    <p class="font-weight-bold text-info" style="font-size: 2em"><small>Telefone: </small><%= @vendedor.phone %></p>
  </div>
  <div class="col-md-6 bg-light">
    <p class="text-center">Imagens do produto: </p>
    <div class="galery">
      <ul class="list-inline">
        <% @adsense.images.each do |img| %>
          <li class="list-inline-item"><%= link_to image_tag(img.small.url, class: "img-thumbnail"), img.url, :rel => "lightbox[roadtrip]", :title => @adsense.title unless img.file.nil?%></li>
        <% end %>
      </ul>
    </div>

  </div>

</div>



<% if can? :update, @adsense %>
  <%= link_to 'Editar', edit_adsense_path(@adsense), :class => "btn btn-outline-warning" %>
  <%= link_to 'Ver meus anúncios', adsenses_path,  :class => "btn btn-outline-info" %>
<% end %>
<br>
<span style="padding: 25px;"></span>
<div class="row bg-light">
  <div class="col-12">
    <h4 class="text-black-50">::Produtos relacionados::</h4>
  </div>
  <% @adsFromCat.each do |adsCat| %>
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <span class="col-7"><%= adsCat.title %></span>
            <span class="badge badge-pill col-5" style="font-size: 0.6em"><small>publicado</small> <%=formatar_data adsCat.created_at  %></span>
          </div>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <p><%= adsCat.description %></p>
              <p>R<%= number_to_currency adsCat.price %></p>
            </div>
            <div class="col-4">
              <% adsCat.images.each do |img| %>
                <%= image_tag(img.thumb.url, :class => "img-responsive") %>
              <% end %>
            </div>
          </div>

        </div>
        <a class="card-footer btn btn-outline-secondary" href="<%= adsenses_path %>/<%= adsCat.id %>">
          <p class="text-center">::Mais Informações::</p>
        </a>
      </div>
    </div>
  <% end %>
</div>