<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @adsense.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adsense.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @adsense.price %>
</p>
<% @adsense.images.each do |img| %>
<%= image_tag(img.thumb.url, class: "") unless img.file.nil? %>
<% end %>
<p>Este anúncio já foi visualizado <%= @adsense.view %> vezes. </p>
<%= link_to 'Edit', edit_adsense_path(@adsense) %> |
<%= link_to 'Back', adsenses_path %>

<!--# ==== Examples-->
<!--#-->
<!--#   image_tag("icon")-->
<!--#   # => <img alt="Icon" src="/assets/icon" />-->
<!--#   image_tag("icon.png")-->
<!--#   # => <img alt="Icon" src="/assets/icon.png" />-->
<!--#   image_tag("icon.png", size: "16x10", alt: "Edit Entry")-->
<!--#   # => <img src="/assets/icon.png" width="16" height="10" alt="Edit Entry" />-->
<!--#   image_tag("/icons/icon.gif", size: "16")-->
<!--#   # => <img src="/icons/icon.gif" width="16" height="16" alt="Icon" />-->
<!--#   image_tag("/icons/icon.gif", height: '32', width: '32')-->
<!--#   # => <img alt="Icon" height="32" src="/icons/icon.gif" width="32" />-->
<!--#   image_tag("/icons/icon.gif", class: "menu_icon")-->
<!--#   # => <img alt="Icon" class="menu_icon" src="/icons/icon.gif" />-->
<!--#   image_tag("/icons/icon.gif", data: { title: 'Rails Application' })-->
<!--#   # => <img data-title="Rails Application" src="/icons/icon.gif" />-->