<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h1 class="text-secondary text-center">Classificados</h1>
  </div>
  <div class="col-3"></div>
</div>

<div class="row">
  <h3 class="text-black-50 text-center col-12 bg-light">Anúncios mais visitados</h3>
  <div class="row">
    <% @adsOrderViewAndTitle.each do |ads| %>
      <div class="col-md-3"  style="padding-bottom: 10px">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <span class="col-8"><%= ads.title %></span>
              <span class="badge badge-pill col-4"><small>Views</small> <%= ads.view  %></span>
            </div>

          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <p><%= ads.description %></p>
                <p>R<%= number_to_currency ads.price %></p>
              </div>
              <div class="col-4">
                <%= image_tag(ads.images[0].thumb.url, :class => "img-responsive") %>
              </div>
            </div>

          </div>
          <a class="card-footer btn btn-outline-secondary" href="<%= adsenses_path%>/<%= ads.id %>">
            <p class="text-center">::Mais Informações::</p>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row bg-light" style="margin:30px 0">
  <h4 class="text-black-50 text-center col-12 ">::Categorias::</h4>
  <% Category.all.each do |cat| %>
    <div class="col-3" style="padding: 15px 0">
      <p class="text-center font-weight-bold hover-text" style="font-size: 3em; color: #b9bbbe">
        <%= cat.description %>
      </p>
    </div>
  <% end %>
</div>

<div class="row">
  <h3 class="text-black-50 text-center col-12 bg-light">Anúncios mais recentes</h3>
  <div class="row">
    <% @adsLastAdd.each do |ads| %>
      <div class="col-md-3" style="padding-bottom: 10px">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <span class="col-7"><%= ads.title %></span>
              <span class="badge badge-pill col-5" style="font-size: 0.6em"><small>publicado</small> <%=formatar_data ads.created_at  %></span>
            </div>

          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <p><%= ads.description %></p>
                <p>R<%= number_to_currency ads.price %></p>
              </div>
              <div class="col-4">
                <%= image_tag(ads.images[0].thumb.url, :class => "img-responsive") %>
              </div>
            </div>

          </div>
          <div class="card-footer hover">
            <p class="text-center">::Mais Informações::</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


